.hero_container {
  align-items: start;
  background-image: url('../../../assets/images/hero_image.jpg');
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.hero__subtitle {
  margin-bottom: 0.5rem;
}

@media screen and (min-width:768px) {
  .hero_container{
    background-position: center;
  }
}