.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapper p {
  text-align: center;
}

.card_container {
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
  height: 400px;
  margin: 2rem;
  overflow: hidden;
  position: relative;
  width: 300px;
}

/*GUIDE SOURCE: https://blog.logrocket.com/css-overlay/ */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

/* HOVER animation */

.card_container:hover .overlay {
  transform: translateY(0);
}

.overlay h3 {
  color: var(--accent-color-two);
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin: 0;
}

.overlay p {
  color: var(--accent-color-one);
  font-weight: 200;
  opacity: 0.7;
}

.button:hover {
  background-color: var(--accent-color-two);
  border-color: var(--accent-color-two);
  color: var(--primary-color);
}