.banner_container{
  background-position: center;
  background-size: cover;
  height: 400px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.heading{
  color:var(--accent-color-two);
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.subHeading{
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: justify;
}