.button_actions {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.button_actions button {
  align-items: center;
  border-radius: 50%;
  border: none;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.button_actions button:hover,
.button_actions button:active {
  background-color: var(--accent-color-two);
}