.section_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0rem;
  padding: 2rem;
}

.left__content {
  flex: 0.7;
  margin: 0 auto;
  width: 80%;

}

.right__content {
  flex: 1;
}

@media screen and (min-width:768px) {
  .section_container {
    flex-direction: row;
  }

  .reverse {
    flex-direction: row-reverse;
  }

}