.wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin: auto;
  padding: 2rem;
}

.right_content {
  background: var(--secondary-color);
  border-radius: 10px;
  color: var(--accent-color-one);
  height: fit-content;
  padding: 2rem;
  position: sticky;
  top: 150px;
}

.right_content h3 {
  border-bottom: 1px solid var(--primary-color);
  color: var(--accent-color-two);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.right_content h4 {
  border-top: 1px solid var(--primary-color);
  color: var(--accent-color-two);
  padding-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 2fr 1fr;
    max-width: 1000px;
  }
}