.option_card {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color-one);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem 0.7rem;
  transition: all 0.2s ease;
}

.option_card input {
  display: none;
}

.option_card:hover {
  border-color: var(--accent-color-two);
}

.option_card.selected {
  background-color: var(--accent-color-two);;
  color: var(--background-color);
  border-color: var(--accent-color-two);
}
